input[type=date].form-control{
    padding: 0 5px;
}
.w-100{
    width: 100px;
}
.pointer {
    cursor: pointer;
}

.coret{
    text-decoration: line-through;
}

.textError {
    border-color: #ed5565 !important;
}

.text-bold {
    font-weight: bold;
}

.ng-table thead tr th {
    text-align: left;
}

.table-reponsive {
    border-style: none;
}

.hover-blue:hover {
    color: blue;
}

.hover-red:hover {
    color: red;
}

.hover-navy:hover {
    color: #008a8a;
}

/* Drop Zone */
.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.another-file-over-class {
    border: dotted 3px green;
}

.p-0{
    padding: 0px !important;
}

.no-border{
    border: none !important;
}
.no-border-text{
    border-radius: 0;
    border-color: transparent !important;
    /*border-bottom-style: dotted !important;
    border-bottom-color: grey !important; */
}

.dash-border-text{
    border-radius: 0;
    border-color: transparent !important;
    border-bottom-style: dashed !important;
    border-bottom-color: grey !important; 
}

.cell-input{
    padding: 0px !important;
}


/* switch box/
/* The switch - the box around the slider */

.switch-sm {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch-sm input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider-sm {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-sm:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-sm {
    background-color: #2196F3;
}

input:focus+.slider-sm {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-sm:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider-sm.round-sm {
    border-radius: 34px;
}

.slider-sm.round-sm:before {
    border-radius: 50%;
}


/* Hide default HTML checkbox */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}